@use '../utils/badge';
@use '../abstracts/colors';

.BadgePub {
  @extend .Badge;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  & > textarea {
    resize: none;
  }

  &__Error {
    color: colors.$danger;
  }

  .form-check {
    margin-top: 0.5rem;
  }

  &__button {
    margin-top: 0.25rem;
  }
}
