@use '../abstracts/colors';
@use '../utilities/flex';
@use '../utilities/text';
@use '../utilities/image';
@use '../utilities/badge';

.Badge {
  @extend .Badge;

  & &__header {
    padding: 0.5rem 0;
    margin: 0 1rem;
    height: 80px;
    display: flex;
    justify-content: center;

    img {
      @extend .img-fluid;
      margin: .5rem;
    }
  }

  & &__content {
    picture {
      padding-bottom: 1rem;
      padding-top: 1rem;
      display: flex;
      justify-content: center;
    }
    &--age {
      @extend .flex-row-center;
    }
    &--name {
      text-align: center;
      @extend .text-break;
      margin: 0;
      padding: 1rem;
      padding-top: 0;
    }
  }

  & &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: colors.$card-footer;

    &--bio {
      @extend .text-break;
      margin: 0 1rem;
      text-align: center;
    }
  }
}
