@use '../abstracts/colors';
@use '../utils/text';

.InstagramAccount {
  color: colors.$instagram-account;
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem 0.5rem 0;

  img {
    height: 20px;
    margin-right: 5px;
  }

  &__perfil {
    @extend .text-break;
    margin: 0;
  }
}
