.Screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 1rem;

  img {
    max-height: 500px;
  }

  h3 {
    text-align: center;
  }
}
