@use '../abstracts/colors';
@use '../utils/text';

.UserList__link {
  text-decoration: none;
  color: inherit;
}

.UserListItem {
  border: 1px solid colors.$border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px 2px colors.$box-shadow-color;
  margin-top: 1em;
  display: flex;

  & > picture {
    margin: 1rem;
  }

  &__details {
    &--name {
      @extend .text-break;
      font-weight: bold;
      margin: 1rem 1rem 0 0;
      font-size: 1.125rem;
    }
    &--bio {
      @extend .text-break;
      margin-right: 1rem;
      font-size: 1rem;
    }
  }
}
