.UserEdit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__badge {
    flex-shrink: 1;
    margin: 1.5rem 0.5rem 0 0.5rem;
  }

  &__form {
    flex-shrink: 1;
    margin: 0 1rem 1.5rem 1rem;
  }
}
