$box-shadow-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.16);
$modal-background-color: rgba(0, 0, 0, 0.6);
$white: #fff;
$card-footer: rgb(244, 244, 247);
$instagram-account: rgb(27, 149, 224);
$modal-border-color: #dee2e6;
$danger: #dc3545;
$secondary: #6c757d;