@use './abstracts/fonts';
@use './abstracts/colors';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: fonts.$font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$font-title;
}

.text-break {
  word-break: break-word;
  word-wrap: break-word;
}
