.Users__hero {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.Users__hero>.Users__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Users__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Users_conf-logo {
  margin-bottom: 2rem;
}

.Users__logo {
  object-fit: contain;
}

.Users__logo {
  width: inherit;
}